# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.next

# backend
/backend/.venv
/backend/uploads/

# misc
.DS_Store
*.pem

# debug

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo

# Data files (if generated or obtained elsewhere)
*.csv

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Windows thumbnail cache
Thumbs.db
